.overlay {
  display: block;
    position: absolute;
   top:0;
   bottom:0;
   right:0;
    left:63px;
     height: 200px;
    width: 200px;
    opacity: 0;
    transition: .5s ease;
    border-radius:25px;
   background-color: rgb(6, 35, 44);
   
  }

  .container:hover .overlay{
    opacity: 1;
  }
  .row
  {
    margin-top: 30px;
  
  }

  .container{
    position:relative;
    width:70%;
    border-radius:25px;
  }

  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  
